{% extends 'base.html' %} 

{% block title %}
Privileges
{% endblock %}

{% block content %}
<div class="container-fluid">
    <nav class="navbar navbar-default shadow-sm rounded-4  px-4 py-4">
        <div class="title-header">
            <h1 class="title text-light">PWD</h1>
        </div>
        <div class="navbar-header">
            <div class="navbar-content">
                <div class="row">
                    <div class="col">
                        <ul class="nav">
                            <li class="nav-item mx-3">
                                <a class="btn btn-outlined-warning shadow-sm border-1 text-light" aria-current="page" href="{{ url_for('home') }}">Home</a>
                              </li>
                              <li class="nav-item mx-3">
                                <a class="btn btn-outlined-warning shadow-sm border-1 text-light" href="#">View related Agency</a>
                              </li>
                              <li class="nav-item mx-3">
                                <a class="btn btn-outlined-warning shadow-sm border-1 text-light" href="#">FAQ</a>
                              </li>
                              <li class="nav-item mx-3">
                                <a class="btn btn-outlined-warning shadow-sm border-1 text-light" href="{{ url_for('content') }}">Content</a>
                              </li>
                              <li class="nav-item mx-3">
                                <a class="btn btn-outlined-warning shadow-sm border-1 text-light" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" href="#">About Us</a>
                              </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
</div>